   
    <div class="container">
    
    <% @topics.each do |topic| %>   
    <div class="topics">
    <p> <%= link_to topic.description, topic_path(topic) %></p>
    <p> <%= topic.user.name if topic.user %></p>
   
    </div>
    <hr>
    <% end %>
   </div>     

<%= link_to 'New Topic', new_topic_path %>



