   
    

   



<% @topics.each do |topic| %>
  <div class="topic">
    <h1 class="topic-author"><%= link_to topic.description, topic %> by </h1>
    <h2 class="topic-author"><%= topic.author if topic.author %></h2>
    <h4 class="topic-welcome"> <%= topic.welcome_message if topic.welcome_message %></h4>
  </div>
<% end %>

