
     <div>
      <% if user_signed_in? %>

      <%= render 'links/form' %>

     
           
  <% else %>
     
  <p>Iscoop lets you share unlimited number of youtube videos,intagram photos, gifs from tumbler, vine videos etc to a friend via sms absolutely free of charge.</p>
       
        
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %> 
  </div>  

