
     <div>
      <% if user_signed_in? %>

      <%= render 'links/form' %>

     
           
  <% else %>
     
  <p>Iscoop is the easiest way to share funny and cool stuff you found online with a friend</p>

  <p>wheteher its a gif, vine video, instagram photo, youtube video, tumblr posts etc, Iscoop lets you effortlessly send it to anyone you like without having to download anything.</p>

  <p>Just paste the url of the stuff you want to share into iscoop, enter the number of the person you want to send it to, add a personal note if you want and send it</p>     

       
        
  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
  <% end %> 
  </div>  

