
     <div class="jumbotron center">
      <% if user_signed_in? %>
        
        <p style="font-family:Open Sans;">Welcome. Please give feedback to help improve the site for everyone.Thanks and enjoy
         </p>  

        <%= link_to "you may enter site", my_topics_path, class: "btn btn-default btn-lg" %>
         
      <% else %>
     
       <p>Iscoop is a platform that lets you search for interesting newsletters to follow. Once you are following a certain newsletter new issues get sent to you on a <b>daily basis<b> but not to your e-mail inbox, which can get a bit overcrowded they get sent to Iscoop for you to consume at your convinience.</p>
       
        
        <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
          <% end %> 
            </div>  

