
     <div class="jumbotron center">
     <% if user_signed_in? %>
          
     <% else %>
     
       <p>Curator let's you follow any topic of interest and receive a daily top 10 list about that topic</p>
       <p>Any one can create a topic and start sharing links on a daily basis with followers</p>
        
        <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
          <% end %>  
            </div>  

