

<% current_user.links.order("created_at DESC").each do |l| %>
<div>
<p style="font-family:tahoma;color:#7f8c8d;margin-left:0px"> posted <%= time_ago_in_words(l.created_at ) %> ago</p>
</div>

 <p><%= l.content %></p>
<a class= "embedly-card" href= "<%= l.url %>"> some title</a>

<% end %> 