<p id="notice"></p>
 
 <a class="embedly-card" href="<%= @link.url %>">The Groups App I Wish Facebook Would Build</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

 


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
